

.checkbox-custom {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.checkbox-custom{
    display: inline-block;
    vertical-align: middle;
}


.checkbox-custom +  :before {
    content: '';
    background: #fff;
    border: 1px solid #ccc;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size:9.5px;
    padding-left: 1px;
    
}

.checkbox-custom:checked +:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #0275d8;
    color: #fff;
    border: 1px solid #0275d8;

}



