.medium-toolbar-arrow-under:after,
.medium-toolbar-arrow-over:before {
  display: none; }

.medium-editor-toolbar {
  border: 1px solid #cdd6e0;
  border-radius: 50px!important;
  background-color: #dee7f0;
  background-color: rgba(222, 231, 240, 0.95);
  background: -webkit-linear-gradient(bottom, #dee7f0, white);
  background: linear-gradient(to top, #dee7f0, white);
  *box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45); }
  .medium-editor-toolbar li button {
    height: 40px;
    min-width: 40px;
    padding: 5px 12px;
    border: none;
    border-right: 1px solid #cdd6e0;
    background-color: transparent;
    color: #40648a;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in;
            transition: background-color .2s ease-in, color .2s ease-in; }
    .medium-editor-toolbar li button:hover {
      background-color: #5c90c7;
      background-color: rgba(92, 144, 199, 0.45);
      color: #fff; }
  .medium-editor-toolbar li .medium-editor-button-first {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; }
  .medium-editor-toolbar li .medium-editor-button-last {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-right: none;}
  .medium-editor-toolbar li .medium-editor-button-active {
    background-color: #5c90c7;
    background-color: rgba(92, 144, 199, 0.45);
    color: #000;
    /* background: -webkit-linear-gradient(top, #dee7f0, rgba(0, 0, 0, 0.1));
    background: linear-gradient(to bottom, #dee7f0, rgba(0, 0, 0, 0.1));  */}

.medium-editor-toolbar-form {
  background: #dee7f0;
  color: #999;
  padding-left: 35px;
  border-radius: 50px; 
  }
  .medium-editor-toolbar-form .medium-editor-toolbar-input {
     width: 300px;
    height: 22px;
    background: #dee7f0;
    padding-bottom:0px!important;
    border: none;
    border-radius: 3px; 
     }



/* 
 input[type="range"] {
  position: relative;
  
}
input[type="range"]:before {
  position: absolute;
  top: -17px;
  left: 50%;
  margin-left: -172px;
  margin-top: 1%;
  content: attr(value);
  display: block;
  text-align: center;
  width: 30px;
  height: 36px;
 */




/* =============== CSS Added for Slider Indicator in Editor: Start =============== */ 


   input[type="range"] {
  position: relative;
  
}
input[type="range"]:before {
  position: absolute;
  top: 3px; 
  font-weight: bold!important;
  left: 0;
  margin-left: -20px;
  content: attr(value);
  display: block;
  text-align: center;
  /*width: 20px;
  height: 10px;*/
}

/* =============== CSS Added for Slider Indicator in Editor: End =============== */

 input[type=range]::-webkit-slider-thumb {

    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #4B648A;
    margin: -5px 0px;

}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;

}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {     border: none;     height: 16px;
width: 16px;     border-radius: 50%;     background:   #4B648A; }

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #fff;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {     border: none;     height: 16px;
width: 16px;     border-radius: 50%;     background:   #4B648A; }

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #fff;
}

/* .... */
 input[type=range]::-ms-slider-thumb {
    -ms-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #4B648A;
    margin-top: -3px;

}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-ms-slider-runnable-track {
    background: #fff;
}

/* .... */

 input[type=range]::-ms-slider-thumb {
    -ms-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #4B648A;
    margin-top: -7px;

}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-ms-slider-runnable-track {
    background: #fff;
}
/* ..... */

  .medium-editor-toolbar-form a {
    color: #40648a; }

.medium-editor-toolbar-anchor-preview {
  background: #000;
  color: #40648a;
  border-radius: 25px; 
padding:1%;
}

.medium-editor-placeholder:after {
    color: #999;
    font-weight: 500;
    width:100%;
    text-align: center;
    margin-top: 0px;}


@media screen and (min-width: 0px) and (max-width: 590px)
{
  .medium-editor-toolbar {
    border-radius: 5px!important;
  }
}